<div class="ok">
    <div class="container">
           <h3>Air-Quality</h3>
            <div style="display: flex; align-items: center; justify-content: space-evenly;">
            <div style="background-color:#6DD0A5; color: white; size: 50px; font-size: 100px; border-radius: 50%; padding: 10px; height: 130px; width: 130px;"><span style="padding: 15px;">72</span></div>
            <div style=" margin-left: 10px; font-size: 45px; color: #999999;"><div><i class="fas fa-arrow-up my-custom-color"></i>93</div><hr><div><i class="fa-solid fa-arrow-down" style="color: #ffc107;"></i>61</div></div>
        </div>
</div>
</div>