<div class="ok">
    <div class="container">
        <h3>Displays</h3>
         <div style="display: flex; align-items: center; justify-content: space-evenly; padding-top: 15px;">
         <div style=" size: 50px; font-size: 100px; border-radius: 50%; padding: 10px; height: 110px; color: #5448C8;">10<span style="font-size: 20px;">/16</span></div>
         <div style=" margin-left: 10px; "><div style="font-size: 15px; color: #999999;">On Time</div><div style="font-size: 35px; color: #2D2D2D;">00:00</div></div>
     </div>

</div>