
<div class="ok">
        <div class="container">
            <h3>Lighting</h3>
            <div style="display: flex; align-items: center; justify-content: space-evenly;">
                <div style="color:#5448C8; size: 50px; font-size: 100px;  padding: 10px; height: 110px;">32</div>
                <div style="color:white; size: 50px; font-size: 30px;  padding: 10px; background-color: #6DD0A5;border-radius: 10px; ">ON</div>
                 <div style=" margin-left: 10px; font-size: 15px;"><div style="color: #999999;">Total</div><div style="color: #2D2D2D; font-size: 35px;">43</div></div>
         </div>
</div>