<div class="ok">
    <div class="container">
        <h3>Temprature</h3>
         <div style="display: flex; align-items: center; justify-content: space-evenly;">
         <div style="background-color:#5448C8; color: white; size: 45px; font-size: 100px; border-radius: 50%; padding: 15px; height: 120px; width: 120px;">21<span style="font-size: 25px;">°C</span></div>
         <div style=" margin-left: 10px; font-size: 45px; color: #999999;"><div><img src="assets/fire.png" alt="Fire Image">
            26<span style="font-size: 19px;">°C</span></div><hr><div><img src="assets/snowflake.png" alt="snow Image">
                18<span style="font-size: 19px;">°C</span></div></div>
     </div>

</div>    
</div>